/*
 * This is only for demo
 */
.column, .foo {
  background: #eee; }

/* Base */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/*--- GRID ---*/
/*--- COLORS ---*/
/*--- WIDTH & HEIGHT ---*/
/*--- MARGIN & PADDING ---*/
/*--- FONT ---*/
/* Base */
/* Layout */
/* Modules */
/* Base */
/* Layout */
/* Modules */
.btn {
  background: transparent;
  padding: 10px 50px 10px 50px;
  font-size: 14px;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-default {
  border: 2px solid #000; }
  .btn-default:hover {
    transform: translateY(10px); }

.btn-inverted {
  background: #000;
  color: #fff; }
  .btn-inverted:hover {
    animation-play-state: running; }

.btn-small {
  padding: 5px 20px 5px 20px; }
  .btn-small:hover {
    animation-play-state: running; }

.btn-success {
  background: #26A65B;
  color: #fff;
  border: 2px solid #26A65B; }
  .btn-success:hover {
    animation-play-state: running; }

.btn-error {
  background: #D91E18;
  color: #fff;
  border: 2px solid #D91E18; }
  .btn-error:hover {
    animation-play-state: running; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none; }

.title-big {
  font-size: 65px; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

body {
  margin: 10px;
  font-size: 14px;
  line-height: 1.428; }

/* Layout */
.row,
.column {
  margin-bottom: 10px; }
  .row:after,
  .column:after {
    content: "";
    display: table;
    clear: both; }

.basic-img {
  max-width: 100%;
  height: auto; }

[class*='column-'] {
  padding: 0.5em;
  min-height: 1px;
  height: auto;
  float: left;
  width: 100%;
  margin: 1%; }

.column-centered {
  margin: 0 auto;
  float: none; }

.text-center {
  text-align: center; }

.pull-right {
  float: right; }

/*
  For loop to count the width of the columns 
  ------------------------------------------
 */
.mobile-column-1 {
  width: 6.33333%; }

.mobile-column-2 {
  width: 14.66667%; }

.mobile-column-3 {
  width: 23%; }

.mobile-column-4 {
  width: 31.33333%; }

.mobile-column-5 {
  width: 39.66667%; }

.mobile-column-6 {
  width: 48%; }

.mobile-column-7 {
  width: 56.33333%; }

.mobile-column-8 {
  width: 64.66667%; }

.mobile-column-9 {
  width: 73%; }

.mobile-column-10 {
  width: 81.33333%; }

.mobile-column-11 {
  width: 89.66667%; }

.mobile-column-12 {
  width: 98%; }

/*
  Responsiveness 
  ------------------------------------------
 */
@media (min-width: 768px) {
  .tablet-column-1 {
    width: 6.33333%; }

  .tablet-column-2 {
    width: 14.66667%; }

  .tablet-column-3 {
    width: 23%; }

  .tablet-column-4 {
    width: 31.33333%; }

  .tablet-column-5 {
    width: 39.66667%; }

  .tablet-column-6 {
    width: 48%; }

  .tablet-column-7 {
    width: 56.33333%; }

  .tablet-column-8 {
    width: 64.66667%; }

  .tablet-column-9 {
    width: 73%; }

  .tablet-column-10 {
    width: 81.33333%; }

  .tablet-column-11 {
    width: 89.66667%; }

  .tablet-column-12 {
    width: 98%; } }
@media (min-width: 970px) {
  .desktop-column-1 {
    width: 6.33333%; }

  .desktop-column-2 {
    width: 14.66667%; }

  .desktop-column-3 {
    width: 23%; }

  .desktop-column-4 {
    width: 31.33333%; }

  .desktop-column-5 {
    width: 39.66667%; }

  .desktop-column-6 {
    width: 48%; }

  .desktop-column-7 {
    width: 56.33333%; }

  .desktop-column-8 {
    width: 64.66667%; }

  .desktop-column-9 {
    width: 73%; }

  .desktop-column-10 {
    width: 81.33333%; }

  .desktop-column-11 {
    width: 89.66667%; }

  .desktop-column-12 {
    width: 98%; } }
/*
 *
 * 
 *
 */
/*
 * 
 * 	Overwrite the styles in this file 
 * 	or create a new css-file. 
 * 
 */

/*# sourceMappingURL=framework.css.map */
