/* Base */
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin basic-img {
    max-width: 100%;
    height: auto;
}

@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin basic-col {
    padding: 0.5em;
    min-height: 1px; 
    height: auto;
    float: left;
    width: 100%;
    margin: 1%;
}


/* Layout */
@mixin column-centered {
    margin: 0 auto;
    float: none;
}

@mixin text-center {
    text-align: center;
}

@mixin pull-right {
    float: right;
}