/*--- GRID ---*/
$column-total: 12;
$first-column: 1;
$gutter: 2%;

/*--- COLORS ---*/
$background-color: #fff;

/*--- WIDTH & HEIGHT ---*/
$full-width: 100%;

/*--- MARGIN & PADDING ---*/
$pad: 10px;

/*--- FONT ---*/
$font-size-body: 14px;
$font-size-bigger: 65px;
$font-size-heading: 36px;
$font-size-sub-heading: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 14px;
$font-size-h6: 12px;
$line-height: 1.428;